body{
    margin: 0;
}
a{
    text-decoration: none;
    color: black;
}
a:active{
    transform: scale(0.95);
}
i{
    color: red;
}
.main{
    font-family: 'Roboto', sans-serif;
    margin: auto;
}
.nav{
    max-width: 1100px;
    display: flex;
    justify-content: space-between;
    margin: auto;
    align-items: center;
    height: 5em;
}
.logo{
    width: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar{
    display: flex;
    width: 40%;
    justify-content: space-between;
    align-items: center;
}
.heading-button{
    background-color: transparent;
    border: 1px solid;
    border-radius: 30px;
    padding: 9px 30px;
    cursor: pointer;
}
button:active{
    transform: scale(0.95);
}
button:focus{
    outline: none;
}
.big-hr{
    max-width: 1300px;
    height: 225px;
    background-color: darkgrey;
    margin: auto;
}
.photo-circle{
    width: 185px;
    height: 185px;
    background-image: url(images/profile-photo.png);
    background-position: center;
    background-size: cover;
    position: absolute;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 165px;
    box-shadow: 0px 0px 66px #5b5b5b;
}
.personal-details-top{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 45px;
}
.personal-details-bottom{
    display: flex;
    justify-content: space-evenly;
    margin: auto;
    max-width: 1100px;
}
.work-experience{
    max-width: 1100px;
    display: flex;
    flex-direction: column;
    margin: auto;
}
.work-experience-header{
    text-align: center;
}
.companies{
    height: 555px;
    display: flex;
    justify-content: space-between;
}
.companies-left{
    border-right: 1px solid;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.right-top-all{
    display: flex;
    margin-bottom: 40px;
}
.line-div-all{
    height: 210px;
    width: 20%;
}
.line-div{
    height: 50%;
    border-bottom: 1px solid;
    width: auto;
}
.circle{
    width: 45px;
    height: 45px;
    border: 1px solid;
    border-radius: 68%;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    margin-top: 82.5px;
    background-color: white;
}
.companies-right{
    border: 1px solid;
    width: 50%;
    border-left: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}
.company-name{
    width: 80%;
    height: 210px;
    border: 1px solid;
}
.portfolio{
    max-width: 1100px;
    height: 670px;
    background-color: darkgrey;
    display: flex;
    flex-direction: column;
    margin: auto;
}
.portfolio-header{
    text-align: center;
}
.portfolio-list{
    display: flex;
    flex-flow: wrap;
    max-width: 1100px;
    height: 613px;
    justify-content: center;
}
.portfolio-projects{
    background-color: green;
    width: 220px;
    height: 245px;
    border: 2px solid;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.project-upload-date{
    padding: 10px;
    padding-bottom: 0;
    margin: 0;
    color: white;
    font-size: 13px;
}
.project-link{
    padding: 10px;
    font-weight: bold;
    color: white;
    font-size: 14px;
}
.contact-me{
    display: flex;
    flex-direction: column;
    text-align: center;
}
#contact-me-header{
    display: flex;
    align-items: center;
    justify-content: center;
}
#contact-me{
    display: flex;
    align-items: center;
    width: 18%;
    margin: auto;
    justify-content: flex-start;
}
#contact-me-logo{
    margin-right: 30px;
}
.footer{
    max-width: 1100px;
    display: flex;
    justify-content: space-between;
    margin: auto;
    align-items: center;
}
.footer-logo{
    width: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer-navbar{
    display: flex;
    width: 30%;
    justify-content: space-between;
}
.footer-button{
    background-color: transparent;
    border: 1px solid;
    border-radius: 30px;
    padding: 9px 30px;
    cursor: pointer;
}
.footer-bottom{
    margin: auto;
    max-width: 1100px;
    display: flex;
    justify-content: space-between;
    font-size: 11px;
}
.footer-bottom-left{
    display: flex;
    width: 16%;
    justify-content: space-between;
}




